$lst-color:black;
$links-color:rgb(36, 156, 208);
$caption-color:black;
$ikon-color:rgb(36, 156, 208);
$btn-color:rgb(36, 156, 208);
$desc-color:gray;
$lst2-color:black;
$btns2-color:rgb(36, 156, 208);
$headers-color:rgba(232, 213, 145, 0.546);
$end-color:black;
$text-end-color:white;